/rodbus/target
/rodbus/Cargo.lock
/target
/Cargo.lock
/.idea

# IDES
.vscode
.vs
.idea

# generated c lib
/ffi/bindings/c/build
/ffi/bindings/c/generated

# generated .NET lib
/ffi/bindings/dotnet/rodbus

# Generated Java lib
/ffi/bindings/java/.idea
/ffi/bindings/java/rodbus
