[package]
name = "rodbus-ffi"
version = "0.1.1"
authors = ["Adam Crain <adam@stepfunc.io>", "Émile Grégoire <emile@stepfunc.io>"]
edition = "2018"
license = "GPL-3.0-only"
description = "FFI for Rodbus"
keywords = ["ffi", "c", "modbus", "ics", "industrial", "plc", "security"]
categories = ["network-programming"]
repository = "https://www.github.com/stepfunc/rodbus"
readme = "../README.md"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
rodbus = { path = "../../rodbus" }
log = { version = "0.4", features = ["std"] }
tokio = { version = "^0.2.11", features = ["rt-threaded"]}

[build-dependencies]
rodbus-schema = { path = "../rodbus-schema" }
rust-oo-bindgen = { git = "https://git@github.com/grid-io/oo_bindgen.git", tag = "0.1.0" }
